body { width: 320px; padding: 12px; font-family: Arial; }
h2 { margin: 0 0 10px; font-size: 15px; }
ul { list-style: none; padding: 0}
li { 
  border: 1px solid #ddd; 
  border-radius: 6px; 
  padding: 10px; 
  margin-bottom: 8px; 
  background: #f9f9f9; 
  font-size: 12px;
}
li strong { color: #1a73e8; display: block; }
li b { color: #d93025; }
button { 
  width: 100%; 
  padding: 8px; 
  background: #1a73e8; 
  color: white; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
}
/* button:hover { background: #1557b0; } */
.important {
  font-weight: bold;
}
/* Action buttons */
.action-btn {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.action-btn i{
  cursor: pointer;
  font-size: 20px;
  color: #635d5d;
  transition: color 0.3s;
}
.action-btn i:hover {
  color: #05000e;
}
/* Header */
.header {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 10px;
}
.header #logo {
  width: 50px;
  height: 50px;
}
.top-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
margin-bottom: 10px;
}

/* Tab */
.tab {
  display: flex;
  gap: 5px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}
.tab i {
  flex: 1;
  text-align: center;
  padding: 8px 0;
  cursor: pointer;
  font-size: 16px;
}

.tab i:hover {
  background-color: #f1f1f1;
}
.tab i.active {
  border-bottom: 2px solid #1a73e8;
  font-weight: bold;
  color: #1a73e8;
}

.tab-content {
  display: none;
  padding: 10px;
  max-height: 350px;
  overflow-y: auto;
}

.tab-content.active {
  display: block;
}

.time { font-weight: bold; color: #d93025; }

footer {
  margin-top: 15px;
  text-align: center;
  font-size: 10px;
  color: #666;
}

/* Google button design */

.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 10px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}